<a href="https://colab.research.google.com/github/alevazcientista-dotcom/Ebac1/blob/main/M3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

### 1) Alturas  
i. No trecho de código abaixo, crie um ndarray chamado ```altura_em_centimetros``` transformando a lista ```lista_de_alturas``` em um ndarray do numpy com a função ```np.array()```  
ii. Crie um outro objeto ```altura_em_metros```, com os valores de ```altura_em_centimetros``` convertidos para metros.

In [ ]:
# i) Crie o ndarray com as alturas em centímetros
lista_de_centimetros = list(range(170, 190, 5))
altura_em_centimetros = np.array(lista_de_centimetros)
print("Altura em centímetros:")
print(altura_em_centimetros)

Altura em centímetros:
[170 175 180 185]

In [21]:
# lista de centímetros e criação do ndarray altura_em_centimetros
lista_de_centimetros = list(range(170, 190, 5))  # -> [170, 175, 180, 185]
altura_em_centimetros = np.array(lista_de_centimetros)
print("altura_em_centimetros:")
print(altura_em_centimetros)

altura_em_centimetros:
[170 175 180 185]

In [22]:
#altura_em_centimetros
# ii) Converta para metros
altura_em_metros = altura_em_centimetros / 100
print("\nAltura em metros:")
print(altura_em_metros)

Altura em metros:
[1.7  1.75 1.8  1.85]

### 2) IMC  
i. Considere que pesos em Kg dessas pessoas, na mesma ortem, estão na lista pesos ```lista_pesos = [70, 75, 80, 85]```. Crie um **ndarray** chamado ```pesos``` com a função ```np.array()``` que contenha esses valores.  
ii. Utilizando o objeto que contém as alturas em metros e esse objeto que contém os respectivos pesos em quilos, calcule o IMC desses indivíduos utilizando a aritmética de arrays e guarde os resultados em um objeto chamado ```imc```.

In [ ]:
# i) Crie o ndarray de pesos
lista_pesos = [70, 75, 80, 85]
pesos = np.array(lista_pesos)
print("Pesos em kg:")
print(pesos)

Pesos em kg:
[70 75 80 85]

In [8]:
# calcule o IMC dessas pessoas
# Crie o ndarray de pesos
lista_pesos = [70, 75, 80, 85]
pesos = np.array(lista_pesos)
print("Pesos em kg:")
print(pesos)

# Recalculate altura_em_metros for this cell's execution context
lista_de_centimetros = list(range(170, 190, 5))
altura_em_centimetros = np.array(lista_de_centimetros)
altura_em_metros = altura_em_centimetros / 100

print("\nAltura em centímetros:")
print(altura_em_centimetros)

Pesos em kg:
[70 75 80 85]

Altura em centímetros:
[170 175 180 185]

In [9]:
# ii) calcule o IMC dessas pessoas
imc = pesos / (altura_em_metros**2)
print("\nIMC:")
print(imc)

IMC:
[24.22145329 24.48979592 24.69135802 24.83564646]

### 3) Endividamento

Cálculos de novas variáveis como endividamento total e comprometimento de renda são essenciais para a construção de modelos financeiros em ciência de dados. Áreas não financeiras terão cálculos semelhantes também. Vamos praticar:

Considere que o seguinte ndarray contém os dados de 4 pessoas, total a ser pago a empréstimos mensalmente e renda familiar:

| custo fixo | dívida financeira | renda familiar |
|:----:|:----:|:---|
| 3000  | 1000 | 6000 |
| 2500  | 2500 | 5500 |
| 1000  | 3000 | 7000 |
| 10000 | 5000 | 16000 |

i. Transforme a lista de listas ```dados_financeiros``` no ndarray ```nd_financeiros```.
> ``` dados_financeiros[[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]] ```

ii. Utilize o método ```.transpose ``` e certifique-se de que esse ndarray tenha uma linha por indivíduo e uma coluna por informação. Utilizando a indexação do numpy, imprima no output a segunda linha do array, depois a segunda coluna.

iii. Pratique aritmética com nearrays e calcule o endividamento total como:
$$endividamento\hspace{.2cm}total = \frac{custo \hspace{.2cm}fixo + dívida\hspace{.2cm}financeira}{renda\hspace{.2cm}familiar}$$
Guarde os resultados em uma variável chamada ```endividamento_total``` e verifique os resultados imprimindo o conteúdo dessa variável no output.

iv. Considere que há um erro de digitação que precisa ser corrigido: 3o indivíduo na verdade não possui renda familiar de R\\$7.000,00, mas sim R\\$ 10.000,00. Corrija esse valor e refaça os cálculos.

In [10]:
# lista dados_financeiros
dados_financeiros = [[3000, 2500, 1000, 10000],[1000, 2500, 3000, 5000],[6000, 5500, 7000, 16000]]
dados_financeiros
#i) transforme essa lista em um ndarray

[[3000, 2500, 1000, 10000],
 [1000, 2500, 3000, 5000],
 [6000, 5500, 7000, 16000]]

In [11]:
nd_financeiros = np.array(dados_financeiros)
print("Array original:")
print(nd_financeiros)

Array original:
[[ 3000  2500  1000 10000]
 [ 1000  2500  3000  5000]
 [ 6000  5500  7000 16000]]

In [12]:
# ii) Transponha o array (uma linha por pessoa)
nd_financeiros = nd_financeiros.transpose()
print("\nArray transposto (linhas = indivíduos):")
print(nd_financeiros)

Array transposto (linhas = indivíduos):
[[ 3000  1000  6000]
 [ 2500  2500  5500]
 [ 1000  3000  7000]
 [10000  5000 16000]]

In [13]:
# Segunda linha
print("\nSegunda linha (índice 1):", nd_financeiros[1])
# Segunda coluna
print("Segunda coluna (índice 1):", nd_financeiros[:, 1])

Segunda linha (índice 1): [2500 2500 5500]
Segunda coluna (índice 1): [1000 2500 3000 5000]

In [14]:
# iii) Calcule o endividamento total
endividamento_total = (nd_financeiros[:, 0] + nd_financeiros[:, 1]) / nd_financeiros[:, 2]
print("\nEndividamento total:")
print(endividamento_total)

Endividamento total:
[0.66666667 0.90909091 0.57142857 0.9375    ]

In [15]:
# iv) Corrigir a renda do 3º indivíduo (índice 2)
nd_financeiros[2, 2] = 10000
print("\nArray corrigido:")
print(nd_financeiros)

Array corrigido:
[[ 3000  1000  6000]
 [ 2500  2500  5500]
 [ 1000  3000 10000]
 [10000  5000 16000]]

In [16]:
# Recalcular o endividamento
endividamento_total = (nd_financeiros[:, 0] + nd_financeiros[:, 1]) / nd_financeiros[:, 2]
print("\nEndividamento total (corrigido):")
print(endividamento_total)

Endividamento total (corrigido):
[0.66666667 0.90909091 0.4        0.9375    ]

### 4) É muito comum precisarmos identificar valores especiais e darmos tratamento a eles quer seja alterando-os quer seja descartando-os.

O trecho de código abaixo gera um ndarray com números pseudo aleatórios. Considere que para efeitos do estudo que virá, devemos desconsiderar valores iguais a zero. Sendo assim:

i) crie um objeto ```bool_zero``` que traga uma sequencia de booleanos do mesmo tamanho que o objeto poi, e que vale ```True``` quando o valor de ```poi``` é zero, e ```False``` caso contrário.

ii) Conte quantos valores zero existem. Lembre-se de que no final das contas, ```True``` vale 1 para o Python, e ```False``` vale zero, então uma boa dica seria usar a função ```sum()```.

iii) Utilize a indexação booleana que você aprendeu para criar uma variável ```poi_nao_zero``` que aponta para os elementos de ```poi``` diferentes de zero. Dica: você vai pode inverter os elementos do objeto que criou em *ii)* ou escrever a comparação adequada.

In [17]:
# Gerar dados
np.random.seed(1234)
poi = np.random.poisson(3, 100)
print("Array gerado (poi):")
print(poi)

Array gerado (poi):
[3 3 6 2 4 5 4 4 2 0 3 3 2 8 2 3 3 3 0 4 4 2 6 6 0 3 4 3 5 2 1 3 2 2 3 2 4
 4 5 7 3 5 3 3 2 2 3 6 2 2 4 3 5 2 5 3 0 2 1 1 4 4 4 6 2 4 1 2 5 5 3 4 1 4
 1 1 7 1 2 1 3 7 0 4 4 0 6 1 3 4 2 5 4 5 5 3 4 6 8 2]

In [18]:
# i) Crie o objeto bool_zero
bool_zero = poi == 0
print("\nValores booleanos (True = zero):")
print(bool_zero)

Valores booleanos (True = zero):
[False False False False False False False False False  True False False
 False False False False False False  True False False False False False
  True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False  True False False False False False False False False False False
 False False False False]

In [19]:
# ii) Conte a quantidade de zeros
qtd_zeros = sum(bool_zero)
print("\nQuantidade de valores zero:")
print(qtd_zeros)

Quantidade de valores zero:
6

In [20]:
# iii) Crie poi_nao_zero (valores diferentes de zero)
poi_nao_zero = poi[~bool_zero]
print("\nArray sem zeros:")
print(poi_nao_zero)

Array sem zeros:
[3 3 6 2 4 5 4 4 2 3 3 2 8 2 3 3 3 4 4 2 6 6 3 4 3 5 2 1 3 2 2 3 2 4 4 5 7
 3 5 3 3 2 2 3 6 2 2 4 3 5 2 5 3 2 1 1 4 4 4 6 2 4 1 2 5 5 3 4 1 4 1 1 7 1
 2 1 3 7 4 4 6 1 3 4 2 5 4 5 5 3 4 6 8 2]